html{
    scroll-behavior: smooth;
 }
 
 .menu{
    margin-bottom: 120px;
 }

 .menu a{
    font-family: 'Arimo', sans-serif;
 }

 .columnas {
     padding-top: 5px;
     padding-bottom: 5px;
     text-align: center;
 }

 .titulo {
     background: rebeccapurple;
     color: #fff;
     padding-top: 8px;
     padding-bottom: 8px;
 }

 .centrados{
     height: 200px;
 }

 body{
     background: #1f2235;
 }

 #navbarNav{
     font-size: 20px;
     float: right;
 }

 .biografia{
     background:#000;
 }

 .saludo{
     padding-bottom: 120px;
 }

 #img{
     width: 100%;
     height: 360px;
 }

 #mensaje{
     margin-top: 20%;
 }

 .estilo-nombre{
     font-size: 35px;
 }

 .contenedor-sobremi{
     padding-bottom: 70px;
     font-family: 'Kodchasan', sans-serif;

    }

 .img-habilidades{
     width: 30%;
     height: 100px;
     border-radius: 360px;
     margin:auto;
 }

 .img-js{
     width: 100%;
     height: 190px;
     display: block;
     margin:auto;
     margin-top: 5%;
 }

 .img-html{
     width: 40%;
     height: 120px;
     margin:auto;
     display: block;
 }

 .img-bootstrap{
     width: 100%;
 }

 .img-sql{
     width: 100%;
     height: 200px;
     margin-top: 20%;
 }

 .img-git{
     margin-left: auto;
     margin-right: auto;
     display: block;
     width: 100%;
     height: 250px;
}

.pie-pagina{
    padding-top: 80px;
    padding-bottom: 80px;
}

.redes{
    width: 60px;
    height: 60px;
    border-radius: 360px;
    margin-right: 10px;
}

.ocultar-elemento{
    display: none;
    animation: fade-out 3s;
}

.mostrar-elemento{
    display: block;
    animation: fade-in 3s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}